<form>
    <div class="form-group">
        <label for="title" id="title" name="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Title of your content">

    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea required name="content" id="content" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <a href="/" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-primary">Save</button>
</form>